@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Do+Hyeon&display=swap')
	;

body {
	margin: 0 auto;
	font-family: 'Changa', sans-serif;
	width: 1010px;
}

#profile_body {
	margin-top: 50px;
}

.div1 {
	text-align: center;
}

.div1 img {
	width: 80px;
	opacity: 0.3;
}

.div2 {
	text-align: center;
	margin-bottom: 70px;
}

.div2 #sp1 {
	color: #036de7;
	font-size: 1.3em;
}

.div2 #sp2 {
	font-size: 1.3em;
}

.div3 {
	text-align: center;
}

.div3 #sec1 {
	width: 500px;
	float: left;
}

.div3 #sec2 {
	width: 400px;
	float: left;
	margin-left: 30px;
}

.div3 #sec2 .space {
	padding: 80px;
}

#sec2 #intro1 {
	text-align: left;
}

#sec2 #intro1 #str1 {
	color: green;
}

#sec2 #intro1 strong {
	font-size: 1.2em;
}

.div4 {
	margin-top: 70px;
	clear: both;
	text-align: center;
}

.div4 #sec3 {
	width: 500px;
	float: right;
}

.div4 #sec4 {
	width: 400px;
	float: right;
	margin-right: 30px;
}

.div4 #sec4 .space {
	padding: 80px;
}

#sec4 #intro2 {
	text-align: right;
}

#sec4 #intro2 #str2 {
	color: green;
}

#sec4 #intro2 strong {
	font-size: 1.2em;
}