@charset "UTF-8";

/* 게시판 상세보기 CSS */

#wrap {
    margin: 0 auto;
    width: 800px;
}

#wrap h1 {
    text-align: center;
}

.btn {
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.btn:active {
    border: 1px solid black;
    background-color: lightgray;
}


caption {
    visibility: hidden;
}


/* 상세보기 테이블 영역 */

#write_table {
    width: 100%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-collapse: collapse;
}

tfoot tr td {
	text-align: right;
}

#write_table tr th {
    padding: 10px;
    width: 20%;
}

#write_table tr th:not(:last-child) {
    background-color: #f7f7f7;
    border-bottom: 1px solid lightgray;
}

#write_table tr th:last-child {
    padding: 10px;
}

#write_table tr td {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

#title_td {
	padding: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

#content {
    min-height: 300px;
}


/* 댓글 테이블 영역 */

.textbox {
    padding: 10px;
}

.re_btn {
    width: 100px;
    height: 35px;
    vertical-align: middle;
    cursor: pointer;
}

#rere_cancel_btn {
    border: 1px solid #3a3a3a;
    background-color: white;
    color: #3a3a3a;
}

#rere_cancel_btn:active {
    background-color: #f9f9f9;
}

.regit_btn {
    border: 1px solid #3a3a3a;
    background-color: #3a3a3a;
    color: white;
}

.regit_btn:hover {
    border: 1px solid black;
    background-color: black;
}

.re_btn:active {
    background-color: #3a3a3a;
}

#reply_table {
    width: 100%;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-collapse: collapse;
}

#reply_table tr th {
    padding: 10px;
}

#reply_table tr td {
    padding: 15px;
}

.re_tbody_first_tr {
	border-bottom: 1px solid lightgray;
	background-color: #f5f5f5;
}

.re_tbody_second_tr {
	border-bottom:1px solid lightgray;
}

.re_tbody_first_tr_td {
	color:gray;
	font-size:0.8em;
}

.re_textarea {
    border: 1px solid gray;
    width: 630px;
    padding: 15px;
    resize: none;
    vertical-align: middle;
    min-height: 80px;
    line-height: 23px;
}

.re_spn {
    color: gray;
    cursor: pointer;
    font-size: 13px;
}

.re_spn:hover {
    font-weight: bold;
}

.comment {
    color: gray;
    line-height: 30px;
}