<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>myweb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404code.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500code.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>hs</servlet-name>
		<servlet-class>yong.servlet.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hs</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ss</servlet-name>
		<servlet-class>yong.servlet.SecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ss</servlet-name>
		<url-pattern>/second</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gugu</servlet-name>
		<servlet-class>yong.servlet.GuguServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gugu</servlet-name>
		<url-pattern>/gugu</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>slc</servlet-name>
		<servlet-class>yong.servlet.ServletLifeCycle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>slc</servlet-name>
		<url-pattern>/slc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>guestCount</servlet-name>
		<servlet-class>yong.servlet.GuestCountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>guestCount</servlet-name>
		<url-pattern>/count</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sum</servlet-name>
		<servlet-class>yong.servlet.SumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sum</servlet-name>
		<url-pattern>/sum</url-pattern>
	</servlet-mapping>

</web-app>